/*px changes will be seen throughout, I think the increased space looks better*/

/*-------------------------------------------Global*/
* { /*Not working for some reason*/
  font-family: Helvetica, sans-serif;
}
/*----------------------------------------------*/
/*-------------------------------------------Nav*/
#nav {
  height: 64px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /*Includeds padding in width*/
  font-family: Helvetica, sans-serif;
}

#navtxt {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#navtxt img {
  height: 40px;
  width: auto;
}

#subnav {
    display: flex;
}

#subnav li {
  margin-right: 16px;
}

#subnav li:last-child {
  margin-right: 0;
}

#mobilenav {
  display: none;
}

#bold {
  color: #36454F;
  font-weight: bold;
}
/*-------------------------------------------*/
/*-------------------------------------------Sect1*/
#sect1 {
  width: 100%;
  display: flex;
  box-sizing:border-box;
  background-color: #eee;
  font-family: Helvetica, sans-serif;
}

#sect1 h1 {
  width: 98%;
  font-size: 35px;
  font-family:"Arial black", Helvetica, sans-serif;
  color: #36454F;
}

#sect1-con {
  width: 60%;
  margin: 32px 24px;
}

#mainimg {
  height: 100%;
  width: 100%;
}

.text {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text p {
  font-size: 20px;
  margin: 20px 0;
}

button {
  padding: 8px 0;
  border: solid #36454F;
  color: white;
  background-color: #36454F;
}
/*-------------------------------------------*/
/*-------------------------------------------Sect2*/
#sect2 {
  width: 100%;
  display: flex;
  margin-bottom: 62px;
  box-sizing:border-box;
  font-family: Helvetica, sans-serif;
}

#sect2-con {
  height: 500px;
  width: 60%;
  margin: 32px 24px 0 24px;
}

#mainimg2 {
  height: 80%;
  width: 100%;
}

#sect2-con h2 {
  font-size: 30px;
  margin-top: 32px;
  font-family:"Arial black", Helvetica, sans-serif;
  color: #36454F;
}

#sect2-con p:first-of-type { /*affects the first p in this id*/
  margin: 24px 0 50px 0;
  /*when header txt is added change the 70px*/
}

#sect2 ul {
  width: 40%;
  margin-top: 22px;
}

.frame {
  height: 150px;
  width: 35%;
}

#frame1 {
  background-image: url("imgs/information-orientation.jpg");
  background-size: cover;
}

#frame2 {
  background-image: url("imgs/information-campus.jpg");
  background-size: cover;
}

#frame3 {
  background-image: url("imgs/information-guest-lecture.jpg");
  background-size: cover;
}

#sect2 ul li {
  display: flex;
  align-items: center;
  padding: 16px 0;
  padding-left: 16px;
}

#sect2 ul li:last-of-type {
  background-color: #eee;
}

#sect2 ul li img {
  height: 100%;
  width: 100%;
}

#quote {
  font-size: 12px;
  font-weight: bold;
}

.txtbox {
  width: 65%;
  margin-left: 25px;
}

.txtbox h6, #media h4 {
  font-size: 25px;
  font-weight: bold;
  color: #36454F;
}

.txtbox p:first-of-type {
  margin: 8px 0 16px 0;
}

.link {
  color: #1919ff;
}
/*-------------------------------------------------*/
/*-------------------------------------------------Sect3*/
#sect3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  font-family: Helvetica, sans-serif;
}

#sect3 h2 {
  font-size: 30px;
  margin-top: 32px;
  font-family:"Arial black", Helvetica, sans-serif;
  color: #36454F;
}

#cat {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 25px;
}

.subcat {
  display: flex;
}

.catcon {
  height: 20%;
  width: 30%;

  margin-right: 32px;
  margin-bottom: 32px;
  background-color: #fff;
}

.subcat .catcon:last-child {
  margin-right: 0;
}

.catcon img {
  height: auto;
  width: 100%;
}

.catxt {
  margin: 16px 0 24px 16px;
}

.catxt h6 {
  font-size: 20px;
  font-weight: bold;
  color: #36454F;
}

.course {
  margin: 8px 0;
  color: #a8a8;
}
/*-------------------------------------------*/
/*-----------------------------------------sect 4*/
#Sect4 {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  font-family: Helvetica, sans-serif;
}

#Sect4 h2 {
  font-size: 30px;
  margin: 32px auto;
  font-family:"Arial black", Helvetica, sans-serif;
  color: #36454F;
}

video {
  height: auto;
  width: 100%;
}

#media {
  height: auto;
  width: 60%;
  margin-right: 24px;
}

#media h4 {
  margin-top: 24px;
  margin-bottom: 15px; /*increased from 8px as I think it looks better*/
  color: #36454F;
}

#media p {
  margin-bottom: 32px;
}

#Sect4-con {
  display: flex;
}

#medialist {
  width: 40%;
}

#medialist ul li {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

#medialist ul li:first-of-type {
  background-color: #eee;
}

#medialist ul li img {
  width: 35%;
  margin: 16px;
}
/*-------------------------------------------*/
/*-------------------------------------------Footer*/
#footer {
  display: flex;
  justify-content:space-between;
  padding: 0 24px 60px 24px;
  border-top: 5px solid #eee;
  font-family: Helvetica, sans-serif;
}

#footer p, #footer ul {
  margin-top: 16px;
}

#footer ul li {
  display: inline-block;
}

#footer ul li:last-child {
  margin-left: 10px;
}
/*---------------------------------------------Breakpoint 1*/
@media only screen and (min-width: 471px) and (max-width: 920px) {

  #nav, #sect1, #sect2, #sect3, #Sect4, #footer{
    box-sizing: border-box;
  }

  #navtxt, #subnav, #mobilenav,
  .text, button, #sect2-con, #sect2 ul, #sect2 ul li,
   #sect2 ul li img,
   #cat .subcat, .catcon, .catxt, #medialist, #footer{
    box-sizing: border-box;
    border: 5px solid transparent;
  }

  #mainimg2 {
    height: 50%;
  }

  .frame {
    height: 75px;
  }

  .txtbox p:nth-child(even) {
    display: none;
  }

  #cat {
    margin-left: 0;
    }

  .catcon {
    height: 50%;
  }
  /*could have given IDs but wanted to see if an array style would work*/
  .subcat:nth-child(1) .catcon:nth-child(1) {
    background: url("imgs/course-software.jpg") no-repeat;
    background-size: cover;
  }
  .subcat:nth-child(1) .catcon:nth-child(2) {
    background: url("imgs/course-computer-art.jpg") no-repeat;
    background-size: cover;
  }
  .subcat:nth-child(1) .catcon:nth-child(3) {
    background: url("imgs/course-design.jpg") no-repeat;
    background-size: cover;
  }
  .subcat:nth-child(2) .catcon:nth-child(1) {
    background: url("imgs/course-data.jpg") no-repeat;
    background-size: cover;
  }
  .subcat:nth-child(2) .catcon:nth-child(2) {
    background: url("imgs/course-business.jpg") no-repeat;
    background-size: cover;
  }
  .subcat:nth-child(2) .catcon:nth-child(3) {
    background: url("imgs/course-marketing.jpg") no-repeat;
    background-size: cover;
  }

  .catxt {
    height: 100%;
    width: 90%;
    background-color: rgba(255,255,255,0.5)
  }


  .catcon img {
    display: none;
  }

}

@media only screen and (min-width: 479px) and (max-width:670px){

  #subnav {
    display: none;
  }

  #mobilenav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #sect1 h1 {
    font-size: 24px;
  }

  #quote {
    margin-top: -20px;
  }

  .frame {
    display: none;
  }

  #medialist ul li img {
    display: none;
  }

  .txtbox {
    margin-bottom: 10px;
  }

  .txtbox:nth-child(2) {
    margin-top: 10px;
  }
}

/*-------------------------------------------Mobile screens*/
/*------------------------------------add margin and padding to width*/
@media only screen and (max-width: 480px) {
  #nav, #sect1, #sect2, #sect3, #Sect4, #footer{
    box-sizing: border-box;
  }
  /*-----------------------------------------------------*/

  /*Fix for the whitspace that kept appearing right side*/
  #navtxt, #subnav, #mobilenav,
  .text, button, #sect2-con, #sect2 ul, #sect2 ul li,
   #sect2 ul li img,
   #cat .subcat, .catcon, .catxt, #medialist, #footer{
    box-sizing: border-box;
    border: 5px solid transparent;
  }
  /*-----------------------------------------------------*/


#nav {
    height: 64px;
    padding: 0;
    justify-content: center;
  }

  #navtxt {
    display: none;
  }

  #subnav {
    display: none;
  }

  #mobilenav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  /*---------------------------------------------------*/
  /*------------------------------------------------sect1*/
  #sect1 {
    flex-direction: column;
  }

  #sect1-con {
    width: 100%;
    margin: 0;
  }

  #mainimg {
    height: 50%;
  }

  .text {
    width: 90%;
    margin: 32px 16px;
  }

  .text p {
    font-size: 20px;
    margin: 32px 0 32px 0;
  }

  button {
    width: 100%; /*restore to 100 when right space is fixed*/
    padding: 12px 0;
    font-size: 20px;
    border: solid #36454F;
    color: white;
    background-color: #36454F;
  }
  /*------------------------------------------------*/
  /*------------------------------------------------sect2*/
  #sect2-con {
    display: none;
  }

  #sect2 ul {
    width: 100%;
  }

  #sect2 ul li {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    padding: 0;
  }

  #sect2 ul li:last-of-type {
    background-color: #fff;
  }

  .frame {
    height: 200px;
    width: 100%;
  }

  #frame1 {
    background-image: url("imgs/information-orientation-mobile.jpg");
    background-size: cover;
  }
  #frame2 {
    background-image: url("imgs/information-campus-mobile.jpg");
    background-size: cover;
  }
  #frame3 {
    background-image: url("imgs/information-guest-lecture-mobile.jpg");
    background-size: cover;
  }

  #sect2 ul li img {
    display: none;
    height: 200px;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .txtbox {
    width: 100%;
    margin: 20px 0 0 16px;
  }
  /*------------------------------------------------*/
  /*------------------------------------------------sect3*/
  #sect3 {
    background-color: #fff;
  }

  #sect3 h2 {
    margin: 32px 0 16px 0;
  }

  #cat {
    width: 100%;
    margin: 0;
  }

  .subcat {
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
  }

  #lastcat {
    margin-bottom: 0;
  }

  .catcon {
    height: 100%;
    width: 97%;
    margin: 0 8px 8px 8px;
    background-color: #eee;
  }

  .catcon img, .catcon p {
    display: none;
  }

  .catxt {
    margin: 16px 0 24px 16px;
  }
  /*------------------------------------------------*/
  /*------------------------------------------------Sect4*/
  #Sect4 {
    margin: 0;
  }

  #Sect4 h2 {
    margin: 32px, 0, 16px, 0;
  }

  #media {
    width: 100%;
    margin: 0;
  }

  #media h4, #media p, #medialist {
    display: none;
  }
  /*------------------------------------------------*/
  /*------------------------------------------------Footer*/
  #footer {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  #footer ul {
    display: none;
  }

}
