/*-------------------------------------------Nav*/
#nav {
  height: 64px;
  width: 100%;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; /*Includeds padding in width*/
  border: 5px solid red;
}
#subnav {
    display: flex;
}

#subnav li {
  margin-right: 16px;
}

#subnav li:last-child {
  margin-right: 0;
}
/*-------------------------------------------*/
/*-------------------------------------------Sect1*/
#sect1 {
  width: 100%;
  display: flex;
  border: 5px solid red;
  box-sizing:border-box;
  background-color: #eee;
}

#sect1-con {
  width: 60%;
  margin: 32px 24px;
}

#mainimg {
  height: 500px;
  width: 100%;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.text p {
  font-size: 20px;
  margin: 20px 0;
}

button {
  padding: 8px 0;
  border: solid #36454F;
  color: white;
  background-color: #36454F;
}
/*-------------------------------------------*/
/*-------------------------------------------Sect2*/
#sect2 {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  border: 5px solid red;
  box-sizing:border-box;
}

#sect2-con {
  height: 500px;
  width: 60%;
  margin: 32px 24px 0 24px;
}

#mainimg2 {
  height: 375px;
  width: 100%;
}

#sect2-con h2 {
  margin-top: 32px;
}

#sect2-con p:first-of-type { /*affects the first p in this id*/
  margin: 24px 0 70px 0;
  /*when header txt is added change the 70px*/
}

#sect2 ul {
  margin-top: 22px;
}

#sect2 ul li {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

#sect2 ul li img {
  height: auto;
  width: 35%;
}

.txtbox {
  width: 65%;
  margin-left: 25px;
}

.txtbox p:first-of-type {
  margin: 8px 0;
}
/*-------------------------------------------------*/
/*-------------------------------------------------Sect3*/
#sect3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
}

#sect3 h2 {
  margin-top: 32px;
}

#cat {
  display: flex;
  flex-direction: column;
  margin: 32px 72px;
}

.subcat {
  display: flex;
}

.catcon {
  height: 280px;
  width: 300px;
  margin-right: 32px;
  margin-bottom: 32px;

  background-color: #fff;
}

.subcat .catcon:last-child {
  margin-right: 0;
}

.catcon img {
  height: auto;
  width: 100%;
}

.catxt {
  margin: 16px 0 24px 16px;
}

.course {
  margin: 8px 0;
}
